<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Participant Agreement</h1>
      </header>

      <section class="top-display">
	<div class="legal"> 
Participant Agreement
Google Inc., located at 1600 Amphitheatre Parkway, Mountain View, California 94043, for itself and its subsidiaries and affiliates (“Google”), and the other party identified below (“You”) agree as follows:
	</div>
	<div class="legal">
1.	By participating, this website will ask for permission to use your microphone and prompt you to speak single words which we will record (the “Study”). These words will appear on-screen, one after another, over the course of around five minutes, with short pauses in between. When the microphone is active, you’ll see an oscilloscope display showing a waveform reflecting the audio received. The Record button will turn red when a word is being recorded (each a “clip”). Clips will be displayed in the bottom half of the web page where you can review and delete any of them locally before submitting them to Google. Clips will only be sent to Google when you press the ‘Upload’ button, or the ‘OK’ button on the dialog that appears once you’ve completed all the requested words. At any point you can press the ‘Stop’ button to pause the recording process. Navigating away from this website will remove all local copies of the clips.
	</div>
	<div class="legal">
2.	Your participation is voluntary and you may choose to cease participation at any time. You will not be compensated for your participation. <b>If you choose to participate in this Study, you must be in a quiet room with no other voices and only speak the requested words. A closed room is a good place for this</b>. 
	</div>
	<div class="legal">
3.	By participating, you agree that Google may use the clips to develop and improve its products, and share the clips with others, including the general public, for example, as part of a public dataset to facilitate research. You understand that your voice alone or in combination with other information could identify you. You specifically waive and release any potential intellectual property right, right of publicity, or right of privacy claim against Google or others for use or sharing of your clips.	
	</div>
	<div class="legal">
4.	GOOGLE MAKES NO WARRANTY, EXPRESS OR IMPLIED, WITH RESPECT TO THE STUDY AND EXPRESSLY DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED. IN NO EVENT WILL EITHER PARTY BE LIABLE FOR ANY DAMAGES UNDER THIS RELEASE IN EXCESS OF $100. 
	</div>
	<div class="legal">
5.	This agreement does not create any agency or partnership relationship. This agreement is not assignable or transferable by you. This agreement is the parties’ entire agreement on this topic, superseding any prior or contemporaneous agreements. Any amendments must be in writing. Failure to enforce any of provisions of this agreement will not constitute a waiver. This agreement is governed by the laws of the State of California, excluding its conflict-of-laws principles. The exclusive venue for any dispute relating to this agreement will be Santa Clara County, California.
	</div>
	<div class="legal">
By clicking ‘I Agree’ you confirm that you are at least eighteen years of age, you understand the points above, and consent to the collection, use, and sharing of the Clips and to Google’s <a href="https://www.google.com/intl/en/policies/terms/?fg=1">Terms of Service</a> and <a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>.
	</div>
      </section>

    </div>

    <a href="https://github.com/petewarden/open-speech-recording">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>

    <footer>
      <a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      <a href="https://www.google.com/intl/en/policies/terms/">Terms</a>
      <a href="/legal">Participant Agreement</a>
    </footer>

  </body>
</html>
